body { 
    font-family: Calibri, sans-serif;
    box-sizing: border-box; 
}


.scene_happy {
    height: 100px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.banner_happy {
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: middle;

    animation-name: bannerhappy;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    transition: 0.5s;
    
}

.cell {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin-right: 10px; 
    text-align: center;
    top: 45%;
    padding: 1em;
    vertical-align: middle;
    width: 50px;
    height: 50px;

    font-weight: bolder;
}

.cell:nth-child(odd) {
    animation-name: cellrolling, bounceUp;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out, ease-in-out;
    animation-delay: 0s, 5s;
    animation-duration: 3s, 2s;
    transition: 0.5s, 0.1s;
}


.cell:nth-child(even) {
    animation-name: cellrolling, bounceDown;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out, ease-in-out;
    animation-delay: 0s, 5s;
    animation-duration: 3s, 2s;
    transition: 0.5s, 0.1s;
}

.cell.drop:nth-child(odd) {
    animation-name: cellrolling, bounceUp, drop;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out, ease-in-out;
    animation-delay: 0s, 5s, 8s;
    animation-duration: 3s, 2s, 2s;
    transition: 0.5s, 0.1s, 0.3s;
}

.cell.drop.two:nth-child(odd) {
    animation-delay: 0s, 5s, 10s;
}


.cell.drop.two:nth-child(even) {
    animation-delay: 0s, 5s, 10s;
}

.cell.drop.three:nth-child(odd) {
    animation-delay: 0s, 5s, 12s;
}


.cell.drop.three:nth-child(even) {
    animation-delay: 0s, 5s, 12s;
}

.cell.drop:nth-child(even) {
    animation-name: cellrolling, bounceDown, drop;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out, ease-in-out;
    animation-delay: 0s, 5s, 8s;
    animation-duration: 3s, 2s, 2s;
    transition: 0.5s, 0.1s, 0.3s;
}



.cell:nth-child(5n-1) {background: rgba(255,197,0,.8); box-shadow: 5px 5px 2px rgba(255,197,0,.6);}
.cell:nth-child(5n-2) {background: rgba(255,141,51,.8); box-shadow: 5px 5px 2px rgba(255,141,51,.6);}
.cell:nth-child(5n-3) {background: rgba(148,239,246,.8); box-shadow: 5px 5px 2px rgba(148,238,246,.6);}
.cell:nth-child(5n-4) {background: rgba(203,245,107,.8); box-shadow: 5px 5px 2px rgba(203,245,107,.6);}
.cell:nth-child(5n) {background: rgba(255,107,183,.8); box-shadow: 5px 5px 2px rgba(255,107,183,.6);}

@keyframes cellrolling {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(90deg);}
    20% {transform: rotate(180deg);}
    30% {transform: rotate(270deg);}
    40% {transform: rotate(360deg);}
    50% {transform: rotate(450deg);}
    60% {transform: rotate(540deg);}
    75% {transform: rotate(630deg);}
    100% {transform: rotate(720deg);}
}

@keyframes bannerhappy {
    0% {left: 0%;}
    100% {left: 35%;}
}

@keyframes bannerbday {
    0% {left: 100%;}
    100% {left: 25%;}
}

@keyframes bannerlilly {
    0% {left: 0%;}
    100% {left: 35%;}
}


/* Bday Scene */
.scene_bday {
    height: 100px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.banner_bday {
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: middle;
    animation-name: bannerbday;
    animation-fill-mode: forwards;
    /* animation-delay: 4s; */
    animation-duration: 4s;
    transition: 0.5s;
    
}

.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;    
    border-radius: 50%;
}

/* Lilly Scene */

.scene_lilly {
    height: 100px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.banner_lilly {
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: middle;
    animation-name: bannerlilly;
    animation-fill-mode: forwards;
    /* animation-delay: 8s; */
    animation-duration: 4s;
    transition: 0.5s;
}

/* Cells Bouncing */

@keyframes bounceUp {
    0% {top: 45%;}
    25% {top: 25%; transform: rotate(-20deg);}
    50% {top: 45%; transform: rotate(0deg);}
    75% {top: 70%; transform: rotate(10deg);}
    100% {top: 45%; transform: rotate(0deg);}
}

@keyframes bounceDown {
    0% {top: 45%;}
    25% {top: 55%; transform: rotate(20deg);}
    50% {top: 45%; transform: rotate(0deg);}
    75% {top: 25%; transform: rotate(-10deg);}
    100% {top: 45%; transform: rotate(0deg);}
}

/* Drop animation */

@keyframes drop {
    0% {top: 45%;}
    100% {top: 75%; transform: rotate(45deg) scale(1.1);}
}

/* cake animation */

@keyframes cakeslider {
    0% {left: -100%;}
    100% {left: 30%;}
}

.cake {
    position: relative;
    height: 400px;
    margin-top: 10%;
    display: block;
}

.cake img {
    position: absolute;
    height: 100%;
    left: -100%;
    animation-name: cakeslider;
    animation-delay: 14s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    transition: 0.3s;
}

.message {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.banner_msg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 100%;

    animation-name: message;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 16s;
    animation-duration: 0.4s;
    animation-duration: 15s;
}

.message img, .message p {
    display: inline;
}

.message p {
    position: absolute;
    top: 30%;
}
.message img {
    height: 8em;
}

@keyframes message {
    0% {left: 100%;}
    100% {left: -80%;}
}

/* background ball */ 
/* 
.background::before {
    content: '';
    z-index: 1;
    width: 350px;
    height: 350px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(255, 141, 51,1);
    position: absolute;
    left: 5%;
    bottom: 5%;
} */